@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --whitecolor: #ffffff;
    --blackcolor: #000000;
    --primarycolor: #6CBE02;
}

body {
    font-family: 'Nunito', sans-serif;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
    color: #333;
    font-weight: 600;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 700;
    padding: 1rem 2rem;
    background: var(--primarycolor);
    border: 1px solid #222222;
    outline: none;
    color: #000000;
    border-radius: .7rem;
    transition: .3s ease-in;
}

.btn:hover {
    color: var(--primarycolor);
    background: #ffffff;
}

.section_p1 {
    max-width: 112rem;
    margin: 0 auto;
}
.section_p2{
    max-width: 98rem;
    margin: 0 auto;
}
/* header */

.header {
    width: 100%;
    height: 8rem;
    padding: 0 8rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--whitecolor);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navigation__logo {
    font-size: 4rem;
    font-weight: 800;
    color: var(--primarycolor);
}

.navigation__bar {
    display: flex;
}

.navigation__bar a {
    display: block;
    margin: 0 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--blackcolor);
    transition: .2s ease-in;
}

.navigation__bar a:hover,
.navigation__bar a.active{
    color: var(--primarycolor);
    
}

.navigation__left {
    display: none;
}

.navigation__right>div {
    font-size: 2rem;
    margin: 0 .5rem;
    color: #222222;
    cursor: pointer;
}

.navigation__right>div:hover {
    color: brown;
}

.hamburger__menu {
    display: none;
    width: 27px;
    height: 27px;
    background: none;
    cursor: pointer;
}

.hamburger__menu .bar {
    display: block;
    height: 2px;
    width: 27px;
    position: relative;
    top: 3px;
    background: #000;
    margin: 4px 0;
    transition: .2s;
}

.hamburger__menu.active .bar:nth-child(1) {
    transform: rotate(45deg) translateX(5px) translateY(4px);
}

.hamburger__menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger__menu.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateX(5px) translateY(-4px);
}


/* home */

.home {
    width: 100%;
    height: calc(100vh - 7rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure {
    max-width: 100%;
    width: 100%;
    position: relative;
}

.home__content {
    width: 50%;
    padding: 2rem 5rem;
}

.home__content span {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 600;
}

.home__content h1 {
    font-size: 4rem;
    text-transform: capitalize;
}

.home a {
    margin-top: 1rem;
}

figure {
    height: 100%;
    width: 50%;

}

figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    object-fit: cover;
}

/*  accesso */
.accesso {
    width: 100%;
    margin-top: 5rem;
}

.accesso__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding: 0 4rem; */
}

.accesso_col {
    /* width: 100%; */
    height: 30rem;
    position: relative;
    margin-right: .5rem;
}

.accesso_col img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.accesso_col p {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: .1rem;
    text-align: center;
    background: #ffffff;
    color: #000000;
    word-wrap: break-word;
    padding: 1rem;
    text-transform: uppercase;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.arrival {
    width: 100%;
    text-align: center;
    padding: 8rem 0;
}

.arrival h2 {
    font-size: 3.5rem;
    text-transform: capitalize;

}

.arrival p {
    padding-bottom: 2rem;
}

.arrival__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

.arrival__col {
    position: relative;
    transition: all 500ms linear;
}

.imglay {
    position: relative;
    overflow: hidden;
    transition: .3s;
}

.imglay:hover img,
.arrival__col:hover img {
    transform: scale(1.1);
}

.arrival__col img {
    width: 100%;
    object-fit: cover;
    transition: all 500ms linear;
}

.arrival__content {
    background-color: #ffffff;
}

.arrival__col h4 {
    font-size: 1.7rem;
}

.arrival__col a {
    font-size: 1.3rem;
    font-weight: 600;
    color: #222222;
    text-transform: capitalize;
}

.arrival__col .icons {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.arrival__col .icons li {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 0 .5rem;
    background: #ffffff;
    border-radius: .5rem;
    transform: scale(0);
    cursor: pointer;
    transition: .2s;
}

.arrival__col .icons li:hover {
    background-color: var(--primarycolor);
    color: #ffffff;
}

.arrival__col .icons li:nth-child(1) {
    transition-delay: .1s;
}

.arrival__col .icons li:nth-child(2) {
    transition-delay: .2s;
}

.arrival__col .icons li:nth-child(3) {
    transition-delay: .3s;
}

.arrival__col:hover li {
    transform: scale(1);
}

.banner {
    width: 100%;
}

.banner__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background: #E9D7D3;
    padding: 3rem 1rem;
    padding-bottom: 0;
}

.banner__container img {
    width: 100%;
    object-fit: cover;
}

.banner__container .banner_content {
    margin: 0 auto;
}

.banner_content h4 {
    font-size: 1.9rem;
    font-weight: 600;
}

.banner_content h2 {
    font-size: 5rem;
}

.banner_content button {
    margin-top: 2rem;
}

.banner-t {
    width: 100%;
    /* padding: 10rem 2rem; */
    background: #222222;
}

.banner-t__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 8rem;
}

.banner-t_col p {
    width: 70%;
}

.banner-t_coll {
    width: 80%;
    position: relative;
    margin: 0 auto;
}
.banner-t_col h3{
    font-size: 2rem;
    color: #ffffff;
}
.banner-t_col p{
    color: #ffffff;
    margin: 2rem 0;
}

.banner-t_coll input {
    width: 100%;
    text-indent: 2rem;
    border-radius: 1rem;
    padding: 1.6rem 0;
    /* height: 50px; */
    outline: none;
    border: none;
}

.banner-t_coll a {
    position: absolute;
    top: 3px;
    right: 1%;
}
footer{
    width: 100%;
     background: var(--primarycolor);
}
.footer__container{
    /* width: 100%; */
    max-width: 99.5rem;
    margin: 0 auto ;
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
   
}
.footer_col{
    padding: 2rem 0;
}
.footer_col h4{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
}
.footer_col .sh-links a{
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
    display: block;
    margin: .5rem 0;
}
.footer_col .sh-links{
    display: flex;
    flex-direction: column;
}
.footer_col .social_link a{
    font-size: 2rem;
    display: inline-block;
    margin-right: .5rem;
    color: #ffffff;
}

/* shop */

.shop{
    width: 100%;
    /* height: 40vh; */
    background: #333333;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 10rem 2rem;
}
.shop p{
    color: #fff;
}
.shop h4{
    font-size: 3.5rem;
    color: #ffffff;
    text-transform: capitalize;
}
.product{
    width: 100%;
}
.pro__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 1rem;
}
.pro__top h3{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 800;
}
.pro__top select{
    text-align: left;
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: .8rem .5rem;
}
.pro__top select option{
    text-transform: capitalize;
}
.pro__bot{
    padding-top: 0;
}

.aboutus{
    width: 100%;
    padding: 4rem 2rem;
}
.aboutus__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* gap: .5rem; */
    
}
 .aboutus_col{
    flex: 0 1 49%;
}
.aboutus_col h2{
    /* padding: 1rem 0; */
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 800;
}
.aboutus_col p{
    word-wrap: break-word;
}
.aboutus_col img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.map iframe{
    width: 100%;
    padding: 2rem 0;
}
.f_contact{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1.2fr;
    padding: 3rem 2rem;
}
.con_right input,
.con_right textarea{
    width: 100%;
    /* margin: .5rem 0; */
    padding: 1rem .5rem;
    outline: none;
    border:none;
    border-left: .2rem solid #333;
    border-bottom: .2rem solid #333;
}
.con_right textarea{
    resize: none;
}
.con_right form{
    width: 100%;
}
.con_right form a{
    /* display: inline-block; */
    margin-top:1rem ;
    border-radius: 0;
}

.con_left .s_col h4{
    font-size: 1.8rem;
    text-transform: capitalize;
    
}
.con_left .s_col{
    margin-bottom: 1rem;
}

.con_left .s_col span{
    font-size: 1.4rem;
    color: #333333;
}
















@media (max-width:991px) {
    html {
        font-size: 55.5%;
    }

    .arrival__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .banner_content h2 {
        font-size: 4rem;
    }

}

@media (max-width:768px) {
    .header {
        padding: 0 4rem;
    }

    .hamburger__menu {
        display: block;
    }

    .navigation__left {
        display: block;
        margin-top: 1.5rem;
    }

    .navigation__left>div {
        font-size: 2rem;
        margin: 0 .5rem;
        color: #222222;
        cursor: pointer;
    }

    .arrival__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .navigation__bar {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        background-color: #8c8c8c;
        padding: 3rem 1rem;
        flex-direction: column;
        align-items: center;
        transition: .5s ease-in-out;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navigation__bar.shownav {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .navigation__bar a {
        margin: 1rem 0;
    }

    .navigation__right {
        display: none;
    }

    .home {
        flex-direction: column;
    }

    figure,
    .home__content {
        width: 100%;
    }

    .accesso__container {
        grid-template-columns: 1fr;
        padding: 0 3rem;
    }

    .accesso_col {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .banner__container {
        grid-template-columns: 1fr;
    }

    .banner__container .banner_content {
        margin: 0;
        /* padding: 2rem 1rem; */
    }

    .banner-t__container {
        grid-template-columns: 1fr;
        padding: 5rem 4rem;
    }

    .banner-t_coll {
        width: 100%;
        margin-top: 3rem;
    }
    .aboutus__container{
        flex-direction: column-reverse;
    }
    .f_contact{
        grid-template-columns: 1fr;
        gap: 2rem;
    }

}

@media (max-width:467px) {
    html {
        font-size: 50.5%;
    }

    .accesso__container {
        padding: 0 1rem;
    }

    .arrival__container {
        grid-template-columns: 1fr;
    }
}